* {
    box-sizing: border-box;
    background-color: rgb(238, 219, 111);
    color: rgba(39, 23, 0, 0.87);
}

.coffeeTitleIconClass {
    height: 100px;
    width: 100px;
    margin: 0px 0px 0px 15px;
}

.search {
    margin: 0px 0px 15px 25px;
    width: 200px;
    height: 25px;
    background-color: rgba(219, 182, 130, 0.87);
    color: rgba(39, 23, 0, 0.87);
    font-weight: 600;
    border: 1,5px solid rgba(39, 23, 0, 0.87);
}

.marginLeft5 {
    margin-left: 5px;
}

.marginLeft15 {
    margin-left: 15px;
}

.marginLeft25 {
    margin-left: 25px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.coffeeList {
    border: 2px solid rgba(39, 23, 0, 0.87);
    padding: 5px 10px;
    width: fit-content;
    margin: 0px 0px 5px 15px;
}

.coffeeMenu {
    margin: 10px 0px 15px 15px;
    font-size: 25px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.coffeeImage {
    width: 240px;
    height: 180px;
    margin-left: 15px;
}

.roundDiv {
    border: 1px solid rgba(39, 23, 0, 0.87);
    border-radius: 9999px;
    width: 20px;
    height: 20px;
    background-color: rgba(233, 173, 90, 0.87);
}

.roundDivColored {
    border: 1px solid rgba(39, 23, 0, 0.87);
    border-radius: 9999px;
    width: 20px;
    height: 20px;
    background-color: rgba(39, 23, 0, 0.87);
}

.link {
    margin-left: 20px;
    color: rgba(39, 23, 0, 0.87);
    font-weight: 600;
}

a:hover {
    color: rgba(139, 93, 29, 0.87);
}